{% extends "base.html" %} {% from "macros.html" import windy_iframe %} {% block
description %}{{ config.description }}{% endblock %} {% block scripts %} {{
super() }} {% if config.code == 'nyc' %}
<script async src="https://www.youtube.com/iframe_api"></script>
{% endif %}
<!-- Include Feather Icons -->
<script src="https://unpkg.com/feather-icons"></script>
{% endblock %} {% block stylesheets %} {{ super() }} {% endblock %} {% block
body_attributes %}{% endblock %} {% block header %}
<div id="snow"></div>
<h1 class="title">shall we swim today?</h1>
<p>
  <span class="note">
    ...at
    <a href="{{ config.swim_location_link }}">{{ config.swim_location }}</a>
  </span>
  {% if config.currents_source %}
  <span class="note"
    ><br />
    <b>NEW</b>: Experimental
    <a href="/{{ config.code }}/currents">current predictions</a>
  </span>
  {% endif %}
</p>
{% endblock %} {% block forecast %}
<h2>Forecast</h2>
{{ windy_iframe(lat=config.latitude, lon=config.longitude) }} {% endblock %} {%
block content %} {% if config.code == 'nyc' %}
<h2>Live Webcam</h2>
<div class="webcamdiv">
  <iframe
    class="webcamframe"
    title="Live webcam"
    id="bbcam_player"
    scrolling="no"
    allowfullscreen="true"
    webkitallowfullscreen="true"
    mozallowfullscreen="true"
    src="https://www.youtube.com/embed/live_stream?channel=UChh9yX1PSFFreQFmnnIPGuQ&enablejsapi=1"
  ></iframe>
</div>
<div class="note">
  Alternative option:
  <ul>
    <li>
      <a
        href="https://www.earthcam.com/usa/newyork/coneyisland/?cam=coneyisland"
      >
        Earth Cam Coney Island</a
      >
      - Great view, including the amusement park.
    </li>
  </ul>
</div>
{% elif config.code == 'sdf' %}
<h2>Live Webcam</h2>
<!--
<div class="webcamdiv">
  <script
  class="earthcam-embed"
  aria-label="earthcam-embed"
  type="text/javascript"
  src="https://share.earthcam.net/embed/
       tJ90CoLmq7TzrY396Yd88MLlsVJ_gbpo-FtC9zSX1TI!/
       tJ90CoLmq7TzrY396Yd88Cwp1ulcCteQSnD-A42I2VI!">
</script>
-->
<div class="webcamdiv">
  <iframe
    src="https://www.earthcam.com/usa/kentucky/louisville/?cam=ohioriver&format=embed"
    width="800"
    height="450"
    frameborder="0"
    scrolling="no"
    sandbox="allow-scripts allow-same-origin"
    allowfullscreen
  >
  </iframe>
  <!--
<script src="https://www.earthcam.com/scripts/embed.js"></script>
--></div>
<div class="note">
  Alternative option:
  <ul>
    <li>
      <a href="https://www.earthcam.com/usa/kentucky/louisville/?cam=ohioriver">
        Ohio River Webcam</a
      >
      - View overlooking Toehead Island swim channel
    </li>
  </ul>
</div>
{% endif %} {% if config.temp_source %}
<h2>Temperature Trends</h2>
{% if config.temp_source.live_enabled %}
<img
  class="plot"
  src="/static/plots/{{ config.code }}/live_temps.svg"
  alt="Live temperature plot"
/>
{% endif %} {% if config.temp_source.historic_enabled %}
<img
  class="plot"
  src="/static/plots/{{ config.code }}/historic_temps_2mo_24h_mean.svg"
  alt="2 month temperature plot, all years"
/>
<img
  class="plot"
  src="/static/plots/{{ config.code }}/historic_temps_12mo_24h_mean.svg"
  alt="12 month temperature plot, all years"
/>
{% endif %} {% endif %} {% if config.code == 'nyc' %}
<h2>Transit Status</h2>
<div class="transit-div">
  {% for train in ['Q','B'] %}
  <div class="train-div">
    <div class="train-header">
      <a href="https://goodservice.io/trains/{{train}}/S" target="_blank">
        <img src="/static/{{train}}-train.svg" width="50" height="50" />
        <br />to <span id="{{train}}_destination">...</span>
      </a>
    </div>
    <div class="centering-div">
      <div class="chip train-status">
        <span id="{{train}}_status">...</span>
      </div>
    </div>
    <div class="train-alert-div" id="{{train}}_delay_div">
      <div class="centering-div">
        <div class="chip train-delay">Delay</div>
      </div>
      <span id="{{train}}_delay">...</span>
    </div>
    <div class="train-alert-div" id="{{train}}_service_change_div">
      <div class="centering-div">
        <div class="chip train-service-change">Service Change</div>
      </div>
      <span id="{{train}}_service_change">...</span>
    </div>
    <div class="train-alert-div" id="{{train}}_service_irregularity_div">
      <div class="centering-div">
        <div class="chip train-service-irregularity">Service Irregularity</div>
      </div>
      <span id="{{train}}_service_irregularity">...</span>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %} {% block footer %}
<h2>Sources</h2>
<table class="citation-table">
  <tbody>
    {% if config.temp_source %}
    <tr>
      <td><i data-feather="thermometer"></i></td>
      <td>{{ config.temp_source.citation|safe }}</td>
    </tr>
    {% endif %} {% if config.tide_source %}
    <tr>
      <td><i data-feather="anchor"></i></td>
      <td>{{ config.tide_source.citation|safe }}</td>
    </tr>
    {% endif %} {% if config.currents_source %}
    <tr>
      <td><i data-feather="shuffle"></i></td>
      <td>{{ config.currents_source.citation|safe }}</td>
    </tr>
    {% endif %} {% if config.code == 'nyc' %}
    <tr>
      <td><i data-feather="camera"></i></td>
      <td>
        <a href="https://www.youtube.com/channel/UChh9yX1PSFFreQFmnnIPGuQ/live"
          >Webcam</a
        >
        thanks to David K and Karol L
      </td>
    </tr>
    <tr>
      <td><i data-feather="truck"></i></td>
      <td>
        MTA train status provided by:
        <a href="https://goodservice.io">goodservice.io</a>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td><i data-feather="github"></i></td>
      <td>
        Site source on github:
        <a href="https://github.com/jeremywhelchel/shallweswim"
          >jeremywhelchel/shallweswim</a
        >
      </td>
    </tr>
  </tbody>
</table>
<h2>Locations</h2>
<p class="note">Multiple locations support is a work in progress.</p>
<div class="location-nav">
  {% for loc_code, loc_config in all_locations.items() %}
  <!-- prettier-ignore -->
  <a href="/{{ loc_code }}" {% if config.code == loc_code %}class="active"{% endif %}>{{ loc_code }}</a>
  {% endfor %}
  <!-- Link to all locations page -->
  <a href="/all">all</a>
</div>

<!-- Initialize Feather icons -->
<script>
  feather.replace();
</script>
{% endblock %}
