{% macro windy_iframe(lat, lon, detailLat=lat, detailLon=lon, width=640,
height=350, zoom=11) %}
<iframe
  class="windyframe"
  title="Windy forecast"
  src="https://embed.windy.com/embed2.html?lat={{ lat }}&lon={{ lon }}&detailLat={{ detailLat }}&detailLon={{ detailLon }}&width={{ width }}&height={{ height }}&zoom={{ zoom }}&level=surface&overlay=waves&product=ecmwf&menu=&message=true&marker=true&calendar=now&pressure=&type=map&location=coordinates&detail=true&metricWind=default&metricTemp=%C2%B0F&radarRange=-1"
  frameborder="0"
></iframe>
{% endmacro %}
